.App {
  text-align: center;
}

.export-container {
  display: flex;
  justify-content: space-around;
}

.App-header {
  background-color: #282c34;
  height: 560px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
